@media only screen and (max-width: 768px) {
  .white-box {
    width: 700px;
    height: 900px;
    display: flex;
    flex-direction: column;
  }

  .left-side {
    width: 100%;
    margin-bottom: 20px;
  }

  .uploaded-area {
    /* flex-basis: inherit; */
    max-height: 150px;
    overflow-y: scroll;
    font-size: 12px;
  }
}
